@import "tailwindcss";

.htagg {
 color: #4D4D4D;
font-style: normal;
font-weight: 500;

}

.htag2 {
color: var(--Brand-Primary, #4CAF4F);
font-style: normal;
font-weight: 600;

}

.bacground{
justify-content: center;
align-items: center;
gap: 72px;
background: #F5F7FA;
}

.hatags {
color: #4D4D4D;
text-align: center;


font-style: normal;
font-weight: 600;
line-height: 30.627px; 
}

@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
  display: flex;
}


.overflow-hidden {
  min-height: 60px; 
}