@import "tailwindcss";

.htagg {
 color: #4D4D4D;

font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 80px; /* 118.75% */
}

.htag2 {
color: var(--Brand-Primary, #4CAF4F);

font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 80px;
}

.bacground{
justify-content: center;
align-items: center;
gap: 72px;
background: #F5F7FA;
}

.hatags {
color: #4D4D4D;
text-align: center;


font-style: normal;
font-weight: 600;
line-height: 30.627px; /* 122.222% */
}